version: "3.8"

services:
  kafka:
    image: confluentinc/cp-kafka:7.8.3
    container_name: kafka
    ports:
      - "9092:9092"

    environment:
      KAFKA_KRAFT_MODE: "true"

      CLUSTER_ID: "1L6g7nGhU-eAKfL--X25wo"
      KAFKA_NODE_ID: 1

      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs

    volumes:
      - kafka_kraft:/var/lib/kafka/data

volumes:
  kafka_kraft:



# # To start the Kafka broker in KRaft mode, run:
# docker-compose up -d

# # To stop the Kafka broker, run:
# docker-compose down

# # To create a topic named "test-topic", run:
# docker exec -it kafka kafka-topics --create --topic test-topic --bootstrap-server localhost:9092 --partitions 1 --replication-factor 1
# # OR
# /usr/bin/kafka-topics --create --topic orders --bootstrap-server localhost:9092 --partitions 1 --replication-factor 1

# # To list all topics, run:
# docker exec -it kafka kafka-topics --list --bootstrap-server localhost:9092

# # To produce messages to "test-topic", run:
# docker exec -it kafka kafka-console-producer --topic test-topic --bootstrap-server localhost:

# # To consume messages from "test-topic", run:
# docker exec -it kafka kafka-console-consumer --topic test-topic --bootstrap-server localhost: